       .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        transition: all 0.5s ease;
      }

      .image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 890px;
        height: 700px;
      }
	
body {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: black;
}
	 

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      background-color: #333;
      color: #fff;
      padding: 0 20px;
    }

   
    .navbar a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      margin-right: 20px;
	  font-family: Arial, Helvetica, sans-serif;
    }

    
    .toggle-btn {
      display: none;
      padding: 10px 15px;
      background-color: #333;
      color: #fff;
      border: none;
      cursor: pointer;
    }

    
    .nav-links {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: height 0.3s;
    }

    
    .show-nav {
      height: 100vh;
    }

    
    .nav-links a {
      display: block;
      padding: 20px;
      text-align: center;
    }

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}


p{
	text-align: center;
	font-size: 20px;
	padding-top: 4px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

img { 
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }
  .toggle-btn {
    display: block;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    flex-direction: column;
    transition: height 0.3s ease;
  }
  .show-nav {
    height: auto;
  }
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-grid img {
  width: 48%;
  margin-bottom: 20px;
}



