      

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        transition: all 0.5s ease;
      }

      .image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 890px;
        height: 700px;
      }
	
body {
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: black;
}
	  
	  
th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}

button {
  background-color: #383434;
  border: none; 
  color: white;
  padding: 12px 24px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  font-weight: bold;
  transition: all 0.3s ease; 
}

button:hover {
  background-color: #ff5f5c; 
  cursor: pointer;
}

